@inherits LayoutComponentBase

<div class="app-shell">

    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main class="main-content">
        <header class="topbar">
           @*  <div class="topbar-tittle">
                Nome do Projeto
            </div> *@
        </header>

        <section class="page-content">
            @Body
        </section>
    </main>
</div>
