<div class="sidebar-shell">

    <div class="brand">
        <span class="brand-text">soirée.io</span>
    </div>

    <nav class="sidebar-menu">

        <NavLink class="menu-item"
                 href=""
                 Match="NavLinkMatch.All">
            <span>Home</span>
        </NavLink>

        <NavLink class="menu-item"
                 href="livros">
            <span>Biblioteca</span>
        </NavLink>

    </nav>

</div>