@page "/livros/ler/{Id:int}"
@rendermode InteractiveServer

@using Library.Blazor.Domain.Entities
@using Library.Blazor.Domain.Services
@inject LivroService LivroService
@inject NavigationManager Nav
@inject IJSRuntime JS


@if (livro != null)
{
    <div class="reader-shell">

        <header class="reader-header">

            <div class="reader-left">

                <button type="button"
                        class="back-btn"
                        @onclick="VoltarBiblioteca">
                    ← Voltar
                </button>

                <div>
                    <div class="reader-title">
                        @livro.Titulo
                    </div>

                    <div class="reader-author">
                        @livro.Autor
                    </div>
                </div>

            </div>

            <div class="reader-actions">

                <button class="reader-btn"
                        @onclick="AtivarFullscreen">
                    ⛶ Tela Cheia
                </button>

                <a href="@livro.ArquivoUrl"
                   download
                   class="reader-btn">
                    ⬇ Baixar
                </a>

            </div>

        </header>

        <div class="reader-content">
            <iframe src="@livro.ArquivoUrl"
                    class="reader-frame">
            </iframe>
        </div>

    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Livro? livro;

    protected override async Task OnInitializedAsync()
    {
        livro = await LivroService.ObterParaEdicaoAsync(Id);
    }

    private void VoltarBiblioteca()
    {
        Nav.NavigateTo("livros");
    }

    private async Task AtivarFullscreen()
    {
        await JS.InvokeVoidAsync("readerFullscreen");
    }
}