@page "/livros"
@rendermode InteractiveServer
@using Library.Blazor.Domain.Entities

<h1>Livros</h1>

<h3>Novo Livro</h3>

<div class="mb-3">
    <label class="form-label">Título</label>
    <input class="form-control" @bind="novoTitulo" />
</div>

<div class="mb-3">
    <label class="form-label">Autor</label>
    <input class="form-control" @bind="novoAutor" />
</div>

<button class="btn btn-success mb-4" @onclick="AdicionarLivro">
    Adicionar
</button>

<hr />


<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livro in livros)
        {
            <tr>
                <td>@livro.Titulo</td>
                <td>@livro.Autor</td>
                <td>
                    @(livro.Disponivel ? "Disponível" : "Emprestado")
                </td>
                <td>
                    @if (livro.Disponivel)
                    {
                        <button class="btn btn-sm btn-primary"
                                @onclick="() => Emprestar(livro)">
                            Emprestar
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-success"
                                @onclick="() => Devolver(livro)">
                            Devolver
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Livro> livros = new();
    private string novoTitulo = string.Empty;
    private string novoAutor = string.Empty;
    private int proximoId = 1;

    protected override void OnInitialized()
    {
        livros.Add(new Livro(proximoId++, "O Hobbit", "J.R.R. Tolkien"));
        livros.Add(new Livro(proximoId++, "1984", "George Orwell"));
    }

    private void AdicionarLivro()
    {
        if (string.IsNullOrWhiteSpace(novoTitulo) ||
        string.IsNullOrWhiteSpace(novoAutor)) return;

        livros.Add(new Livro(proximoId++, novoTitulo, novoAutor));

        novoTitulo = string.Empty;
        novoAutor = string.Empty;
    }

    private void Emprestar(Livro livro) => livro.Emprestar();

    private void Devolver(Livro livro) => livro.Devolver();
}
