@page "/livros"
@rendermode InteractiveServer
@using Library.Blazor.Domain.Services
@using Library.Blazor.Domain.Entities
@inject LivroService LivroService

<h3>Livros</h3>

<button @onclick="AdicionarLivro">Adicionar Livro</button>

<ul>
    @foreach (var livro in livros)
    {
        <li>
            @livro.Titulo - @livro.Autor
            @if (livro.Disponivel)
            {
                <button @onclick="() => Emprestar(livro.Id)">Emprestar</button>
            }
            else
            {
                <span>(Emprestado)</span>
            }
        </li>
    }
</ul>

@code {
    private List<Livro> livros = new List<Livro>();

    protected override async Task OnInitializedAsync()
    {
        livros = await LivroService.ObterTodosAsync();
    }

    private async Task AdicionarLivro()
    {
        await LivroService.AdicionarAsync("Novo Livro", "Autor X");
        livros = await LivroService.ObterTodosAsync();
    }

    private async Task Emprestar(int id)
    {
        await LivroService.EmprestarAsync(id);
        livros = await LivroService.ObterTodosAsync();
    }
}